*{
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	font-family: "Alexandria", sans-serif;
	overflow-x: hidden;
}

header{
	width: 100vw;
	height: 50px;
	background: transparent;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
	z-index: 99;
	background-color: #16213d;
}

.header{
	width: 100%;
	max-width: 1100px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.menuMobileToggle{
	display: none;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 5px;
	cursor: pointer;
}

.menuMobileToggle:hover{
	background-color: rgba(255, 255, 255, 0.3);
}

.menuMobileToggle div{
	width: 80%;
	height: 3px;
	border-radius: 10px;
	background-color: #FFF;
}

nav{
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	text-transform: uppercase;
	font-weight: 700;
	margin: 1px;
	padding: 10px;
	height: 100%;
	cursor: pointer;
}

nav ul li:hover{
	color: #87CEEB;
}

section{
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.apresentation{
	height: 100vh;
	background-color: #333;
	background-image: url('./assets/media/bg-2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #FFF;	
}

.section-content{
	width: 100%;
	max-width: 1350px;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-content-title{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	margin: 10px;
	color: #16213d;
}

.contact{
	color: #FFF;
	/*background-image: linear-gradient(#87CEEB 100%, #0b0638);*/
	background-color: #87CEEB;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
	transition: all 4s;
	background-color: #0b0638;
}

.contact-animation{
	background-color: #87CEEB;
	animation-name: backgroundColorChangeGradient;
	animation-duration: 4s;
}

footer{
	width: 100vw;
	min-height: 50px;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	font-size: 12px;
}













/* Specific Area CSS */

















.apresentation-content{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	flex-direction: column;
}

.apresentation-content-animation{
	animation-name: fadeIn500;
	animation-duration: 2.0s;
}

.apresentation-content div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.apresentation-logo-container img{
	width: 30%;
}

.apresentation-content h1{
	font-size: 48px;
}

.apresentation-content h5{
	color: #FFF;
	margin-top: -10px;
	font-size: 28px;
	font-family: "Source Code Pro";
}

.apresentation-content p{
	font-family: "Source Code Pro";
}

.apresentation-name-container{
	flex-direction: column;
}

.skill-container{
	width: 60%;
	flex-direction: row;
	align-items: space-evenly;
	flex-wrap: wrap;
	padding: 10px;
}

.skill{
	width: 60px;
	height: 60px;
	padding: 10px;
	margin: 2px;
}

.skill-loading{
	filter: saturate(0%);
}

.skill img{
	width: 40px;
	height: 40px;
}

.project-content-filter {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #16213d;
	padding: 20px;
}

.project-filter-container{
	display: flex;
	overflow: hidden;
}

.project-filter{
	display: block;
	padding: 10px;
	margin: 2px;
	border-bottom: 2px solid #16213d;
	transition: all .5s;
	text-transform: uppercase;
	font-family: "Source Code Pro";
	cursor: pointer;
}

.project-filter-container div:last-child{
	border-right: 0;
}

.project-filter:hover, .actived{
	color: #87CEEB;
	background-color: #FFF;
	font-weight: bold;
	border-bottom: 2px solid #87CEEB;
}

.project-content{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding:20px;
	margin-bottom: 50px;
	transition: all .5s;
	opacity: 0%;
}

.project-content-animation{
	opacity: 100%;
	margin-top: 0px;
	animation-name: fadeIn50;
	animation-duration: 2s;
}

.project-item{
	width: 250px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 5px;
}

.project-item-image{
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 160px;
	border: 2px solid #16213d;
	background-color: #FFF;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.project-item-image img{
	width: 100%;
	transition: all .5s;
}

.project-item-description-container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 60%;
	background-color: #16213d;
	padding: 5px 20px;
	color: #FFF;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	/*16213d , 87CEEB*/

}

.top, .bottom{
	flex: 1;
}

.top{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.top h3 {
	font-size: 18px;
	text-transform: uppercase;
}

.top h4{
	display: flex;
	right: 0;
	top:0;
	color: #87CEEB;
}

.bottom{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bottom a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 20px;
	color: #FFF;
	border: 2px solid #FFF;
	cursor: pointer;
	transition: all .5s;
	margin-bottom: 5px;
}

.bottom a:hover{
	color: #87CEEB;
	background-color: #FFF;
	background-color: #FFF;
}

.project-item-tecnology-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-direction: row;
	align-items: space-evenly;
	flex-wrap: wrap;
}

.project-item-tecnology-container .skill{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: 10px;
	margin: 2px;
}

.project-item-tecnology-container .skill img{
	width: 30px;
	height: 30px;
}


.contact-content{
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
}

.contact-content h1{
	font-size: 39px;
	text-transform: uppercase;
}

.contact-content h3{
	text-transform: uppercase;	
	font-family: "Source Code Pro";
}

.contact-content span{
	font-weight: bold;
	color:#16213d;
}

.button{
	width: 200px;
	height: 50px;
	color: #000;
	background-color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	transition: all .5s;
	border-radius: 100px;
	margin: 20px;
}

.button:hover{
	color: #FFF;
	border: 2px solid #000;
	background-color: #000;
}

.partner-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 300px;
	padding: 10px;
}

.partner-container{
	display: flex;
	width: 90%;
	height: 90%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.partner-item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	transition: all .5s;
}

.partner-item img{
	width: 100%;
}

.partner-item:hover{
	width: 160px;
	height: 160px;	
}







/*Responsive Area */

@media (max-width:450px){

	.menuMobileToggle{
		display: flex;
	}

	nav{
		display: flex;
		position: fixed;
		justify-content: flex-start;
		align-items: center;
		width: 0%;
		height: calc(100vh - 50px);
		left: 0;
		bottom: 0;
		overflow: hidden;
		transition: all .5s;
		background-color: #16213d;
		padding: 0px;
	}

	nav ul{
		padding: 0;
	}

	nav ul li{
		display: block;
		flex-direction: column;
		padding: 10px 0;
	}

	.apresentation-content{
		text-align: center;
	}

	.apresentation-content h1{
		font-size: 36px;
	}

	.apresentation-content h5{
		font-size: 24px;

	}


	.skill-container{
		width: 100%;
	}

	.skill{
		width: 40px;
    	height: 40px;
	}

	.project-filter-container{
		flex-wrap: wrap;
	}

	.project-filter{
		font-size: 14px;
		padding: 2px;
	}

	.project-content{
		padding: 0;
	}

	.project-item{
		width: 160px;
	}

	.project-item-description-container{
		padding: 5px;
	}

	.top h3{
		font-size: 15px;
	}

	.contact-content{
		text-align: center;
	}

	.contact-content h1{
		font-size: 30px;
	}
}



/*Animations */

@keyframes fadeIn50{
	0%{
		opacity: 0%;
		margin-top: 50px;
	}
	100%{
		opacity: 100%;
		margin-top: 0px;
	}
}

@keyframes fadeIn500{
	0%{
		opacity: 0%;
		margin-top: 500px;
	}
	100%{
		opacity: 100%;
		margin-top: 0px;
	}
}

@keyframes backgroundColorChangeGradient{
	0%{
		background-color: #0b0638;
	}
	100%{
		background-color: #87CEEB;
	}
}